.container-card {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;

   padding: 10px;
   margin: 0 10px;
   border-radius: 10px;
   border-top-right-radius: 30px;
   border: 1px solid white;

   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(7px);
   transition: background-color, border-color, box-shadow ease-in-out 0.4s;

   /* height: 365px; */
   min-height: min-content;
   min-width: 275px;
   max-width: max-content;

   /* min-width: 330px; */
   /* min-height: 100%; */
   /* flex-direction: column; */
   /* align-items: center; */
   /* height: 450px; */
}

.container-card:hover {
   /* background-color: #01b7cf7e; */
   border-color: #c1ee56;
   box-shadow: 1px 1px 1px 1px #ffe600, 1px 1px 2px 2px #ff8800, 1px 1px 3px 3px #15ff00;

   z-index: 1000;
}

.container-card-title {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   gap: 10px;
   align-items: center;
   padding: 2px;
}

.container-card-main {
   display: flex;
}

.img-card {
   min-width: 110px;
   max-width: 150px;
   height: 100%;
   object-position: center;
   object-fit: contain;
   border-radius: 10px;
}

.container-card-details {
   text-align: left;
   padding-left: 10px;
   display: flex;
   flex-direction: column;
}

.icon-like-fill {
   color: red;
   cursor: pointer;
}

.icon-like-no-fill {
   color: transparent;
   cursor: pointer;
}

.icon-card-available {
   color: #00e774;
}
.icon-card-no-available {
   color: red;
}

b {
   color: #fff;
   transition: color ease-in-out 0.7s;
}
b:hover {
   color: #00e774;
}

.container-card-details span {
   display: block;
}

.card-character-specie {
   text-align: center;
}

/* TABLET*/
@media (min-width: 640px) {
   .container-card {
      height: 365px;
      width: max-content;
      max-width: 275px;
   }

   .container-card-main {
      flex-direction: column;
      justify-content: center;
   }

   .container-card-details {
      padding-left: 0px;
   }

   .img-card {
      margin: auto;
   }
}
